.article-section {
    padding: 80px 0;
}
.article__title {
    margin-bottom: 40px;
    font-family: Public Sans;
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.7142857313156128px;
    color: $darkblue-clr;
}
.article__list {
    @include Display($items:center, $space:space-between, $gap:0px);
}
.article__item {
    width: 255px;
}
.article__img{
    margin-bottom: 25px;
}
.article__name {
    margin-left: 24px;
    display: inline-block;
    margin-bottom: 8px;
    font-family: PublicSans;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: $gray-clr;
}
.article__texts-wrapper{
    width: 207px;
    display: block;
    margin: 0 auto;
}
.article__quote {
    margin-bottom: 8px;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: -0.2857142984867096px;
    color: $darkblue-clr;
}
.article__text {
    font-family: Public Sans;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: $gray-clr;
}
// Responsive Start
// Tablet Start
@media(max-width:1090px){
    .article-section {
        padding: 88px 0;
    }
    .article__title {
        font-size: 32px;
        font-weight: 100;
        line-height: 37.6px;
        letter-spacing: -0.5714285969734192px;
        text-align: center;
    }
    .article__list {
        @include Display($items:center, $space:start, $gap:24px);
        flex-direction: column;
    }
    .article__item {
        width: 327px;
    }
    .article__img{
        margin-bottom: 25px;
        width: 327px;
        height: 200px;
    }
    .article__name {
        margin-left: 31px;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: -0.15625px;
    }
    .article__texts-wrapper{
        width: 265px;
    }
    .article__quote {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: -0.2857142984867096px;
    }
    .article__text {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.203125px;
    }
}
// Tablet End   
// Mobile Start
@media(max-width:350px){
    .article-section {
        padding: 70px 0;
    }
    .article__title {
        font-size: 25px;
        font-weight: 100;
        line-height: 33.6px;
        letter-spacing: -0.5714285969734192px;
        text-align: center;
    }
    .article__list {
        @include Display($items:center, $space:start, $gap:25px);
        flex-direction: column;
    }
    .article__item {
        width: 240px;
    }
    .article__img{
        margin-bottom: 20px;
        width: 240px;
        height: 180px;
    }
    .article__name {
        margin-left: 23px;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: -0.15625px;
    }
    .article__texts-wrapper{
        width: 200px;
        margin-left: 23px;
    }
    .article__quote {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: -0.2857142984867096px;
    }
    .article__text {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.203125px;
    }
}
// Mobile End
// Responsive End