.bank-section {
    padding: 95px 0;
    background-color: #F4F5F7;
}
.bank__texts-wrapper {
    width: 635px;
    margin-bottom: 72px;
}
.bank__title {
    margin-bottom: 16px;
    font-family: Public Sans;
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.7142857313156128px;
    color: $darkblue-clr;
}
.bank__text {
    font-family: Public Sans;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: $gray-clr;
}
.bank__list {
    @include Display($items:center, $space:space-between, $gap:0px);
}
.bank__img-wrapper {
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bank__item-texts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 255px;
}
.bank__strong {
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.4285714328289032px;
    color: $darkblue-clr;
}
.bank__item-text {
    font-family: Public Sans;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: $gray-clr;
}

// Responsive Start
// Tablet Start
@media(max-width:1070px){
    .bank-section {
        padding: 64px 0;
    }
    .bank__texts-wrapper {
        width: 327px;
        margin: 0 auto;
        margin-bottom: 56px;    
    }
    .bank__title {
        margin-bottom: 14px;
        font-size: 32px;
        font-weight: 100;
        line-height: 37.6px;
        letter-spacing: -0.5714285969734192px;
        text-align: center;
    }
    .bank__text {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;
        text-align: center;
    }
    .bank__img-wrapper{
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .bank__item-texts-wrapper {
        gap: 16px;
        width: 327px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bank__item-text {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;
        text-align: center;
    }
    .bank__list {
        @include Display($items:center, $space:start, $gap:32px);
        flex-direction: column;
    }
}
@media(max-width:360px){
    .bank-section {
        padding: 40px 0;
    }
    .bank__texts-wrapper {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 40px;    
    }
    .bank__title {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 100;
        line-height: 33.6px;
        letter-spacing: -0.5714285969734192px;
        text-align: center;
    }
    .bank__text {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: -0.234375px;    
        text-align: center;
    }
    .bank__img-wrapper{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .bank__item-texts-wrapper {
        gap: 10px;
        width:200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bank__item-text {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: -0.234375px;
        text-align: center;
    }
    .bank__list {
        @include Display($items:center, $space:start, $gap:24px);
        flex-direction: column;
    }
}
// Tablet End
// Responsive End