.site-footer {
    padding: 48px 0px 0px;
    background-color: $darkblue-clr;
}
.footer {
    @include Display($items:center, $space:space-between, $gap:0px);
}
.footer__content-wrapper {
    @include Display($items:center, $space:start, $gap:0px);
}
.footer__logo{
    display: inline-block;
    margin-bottom: 55px;
}
.footer__icon-wrapper {
    @include Display($items:center, $space:start, $gap:13px);
}
.footer__content-wrapper1{
    width: 160px;
    margin-left: 131px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__content-wrapper2{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__text-link {
    font-family: Public Sans;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: $white-clr;
}
.foooter__link-wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer__link {
    margin-bottom: 24px;
    display: inline-block;
    width: 163px;
    padding: 8px 0;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border: 1px solid $green-clr;
    border-radius: 30px;
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;    
    color: $white-clr;
    text-align: center;
    transition: all 0.3s linear;
    
    &:hover{
        background: transparent;
        border-color: $green-clr;
        color: $green-clr;
    }
    &:active{
        box-shadow: 0 0 10px 2px $green-clr;
    }
}
.footer__strong {
    font-family: PublicSans;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: $gray-clr;
    text-align: right;
}
// Responsive Start
// Tablet Start
@media(max-width:860px){
    .site-footer {
        padding: 40px 0;
    }
    .footer {
        @include Display($items:center, $space:start, $gap:32px);
        flex-direction: column;
    }
    .footer__content-wrapper {
        flex-direction: column;
    }
    .footer__logo{
        display: inline-block;
        margin-bottom: 32px;
    }
    .footer__icon-wrapper {
        @include Display($items:center, $space:start, $gap:16px);
        margin-bottom: 32px;
    }
    .footer__content-wrapper1{
        text-align: center;
        margin: 0 auto;
    }
    .footer__content-wrapper2{
        text-align: center;
        margin: 0 auto;
    }
    .footer__text-link {
        font-family: Public Sans;
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -0.234375px;
        color: $white-clr;
    }
    .foooter__link-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
// Tablet End
// Responsive End